<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>stayPage</title>
    <link th:href="@{/css/stay.css}" rel="stylesheet">
</head>
<header>
    <img class="logo" th:src="@{/images/Logo.png}" alt="Logo Image"/>
    <nav>
        <ul>
            <li class="main_list"><input type="text"><button>검색</button></li>
            <li class="main_list"><a class="main" href="/">여행지 소개</a></li>
            <li class="main_list"><a class="main" href="/stays">숙소정보</a></li>
            <li class="main_list"><a class="main" href="/">맛집정보</a></li>
            <li class="main_list"><a class="main" href="/">액티비티정보</a></li>
            <li class="main_list"><a class="main" href="/boards">메인게시판</a></li>
            <li class="main_list"><a class="main" href="/">마이페이지</a></li>
            <li class="main_list"><a class="main" href="/">로그인</a></li>
            <li class="main_list"><a class="main" href="/">회원가입</a></li>
        </ul>
    </nav>
    <hr>
</header>
<body>

<div class="content">
    <h1>숙소 상세정보</h1>
</div>

<table border="1">
    <thead>
    <tr>
        <th>숙소명</th>
        <th>숙소종류</th>
        <th>숙소위치</th>
        <th>1박가격</th>
        <th>이용안내</th>
        <th>서비스</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="stay: ${stay}">
        <td th:text="${stay.name}"></td>
        <td th:text="${stay.category}"></td>
        <td th:text="${stay.address}"></td>
        <td th:text="${stay.price}"></td>
        <td th:text="${stay.useGuide}"></td>
        <td th:text="${stay.service}"></td>
    </tr>
    </tbody>
</table>

<div>
    <button type="button" id="modify-btn" th:onclick="|location.href='/stays/edit/{id}'|"
            th:attr="data-stayid=${stay.id}">수정</button>
    <button type="button" id="delete-btn" th:onclick="|location.href='/stays/delete/' + ${stay.id}|"
            th:attr="data-stayid=${stay.id}">삭제</button>
</div>

<script src="/js/stay.js"></script>
</body>
</html>