<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>stayPage</title>
    <link th:href="@{/css/stay.css}" rel="stylesheet">
</head>
<header>
    <img class="logo" th:src="@{/images/Logo.png}" alt="Logo Image"/>
    <nav>
        <ul>
            <li class="main_list"><a class="main" href="/">여행지 추천</a></li>
            <li class="main_list"><a class="main" href="/stays">여행정보</a></li>
            <li class="main_list"><a class="main" href="/boards">메인게시판</a></li>
            <li class="main_list"><a class="main" href="/admin">관리자페이지</a></li>
            <li class="main_list"><a class="main" href="/">마이페이지</a></li>
            <li class="main_list"><a class="main" href="/members/login">로그인</a></li>
            <li class="main_list"><a class="main" href="/members/new">회원가입</a></li>
        </ul>
    </nav>
    <hr>
</header>
<body>

<div class="img_div">
    <img class="image3" th:src="@{/images/신라스테이.webp}">
    <p class="p_stay_title"><span th:text="${stay.name}"></span></p>
    <p class="p_stay_detail"><span th:text="${stay.detail}"></span></p>
<!--    <span th:text="${stay.category}"></span><br>-->
</div><hr><br><br>

<div class="stay-details">
    <div class="detail-item">
        위치:<span th:text="${stay.address}"></span>
        <div id="map" style="width:100%;height:300px; border-radius:10px;"></div>
    </div>
    <div class="detail-item">
        <strong>1박가격:</strong><br>
        <span th:text="${stay.price}"></span>
    </div>

    <div class="detail-item">
        <strong>이용안내:</strong><br>
        <span th:text="${stay.useGuide}"></span>
    </div>

    <div class="detail-item">
        <strong>시설 및 서비스:</strong><br>
        <span th:text="${stay.service}"></span>
    </div>

    <div class="detail-item">
        <strong>예약공지:</strong><br>
        <span th:text="${stay.amenity}"></span>
    </div>

    <!-- Add more details as needed -->

    <!-- Image display (uncomment if needed) -->
    <!--
    <div class="detail-item">
        <strong>숙소 이미지:</strong>
        <img th:src="@{'/getImage?name=' + ${stay.imageFileName}}" alt="Stay Image"/>
    </div>
    -->

</div>

<div class="button">
    <button type="button" id="stay-modify-btn" th:onclick="|location.href='/stays/edit/{id}'|"
            th:attr="data-stayid=${stay.id}">수정</button>

    <form id="deleteStayForm" th:action="@{'/stays/delete/' + ${stay.id}}" method="post">
        <button type="submit">삭제</button>
    </form>

</div>
<script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=c2e5cdc145feeac77effa91283d46a6e&libraries=services'"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var mapContainer = document.getElementById('map');
    var mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
    };

    var map = new kakao.maps.Map(mapContainer, mapOption);
    var geocoder = new kakao.maps.services.Geocoder();

    // Replace '[[${stay.address}]]' with the Thymeleaf expression for stay address
    geocoder.addressSearch('[[${stay.address}]]', function(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">위치</div>'
            });
            infowindow.open(map, marker);
            map.setCenter(coords);
        }
    });
    /*]]>*/
</script>
<script src="/js/stay.js"></script>
</body>
</html>