<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>stayPage</title>
    <link th:href="@{/css/stay.css}" rel="stylesheet">
</head>
<header>
    <img class="logo" th:src="@{/images/Logo.png}" alt="Logo Image"/>
    <nav>
        <ul>
            <li class="main_list"><input type="text"><button>검색</button></li>
            <li class="main_list"><a class="main" href="/">여행지 소개</a></li>
            <li class="main_list"><a class="main" href="/stays">숙소정보</a></li>
            <li class="main_list"><a class="main" href="/">맛집정보</a></li>
            <li class="main_list"><a class="main" href="/">액티비티정보</a></li>
            <li class="main_list"><a class="main" href="/boards">메인게시판</a></li>
            <li class="main_list"><a class="main" href="/">마이페이지</a></li>
            <li class="main_list"><a class="main" href="/">로그인</a></li>
            <li class="main_list"><a class="main" href="/">회원가입</a></li>
        </ul>
    </nav>
    <hr>
</header>
<body>

<div class="content">
    <h1>숙소 상세정보</h1>
</div>

<div class="stay-details">
    <div class="detail-item">
        <strong>숙소명:</strong>
        <span th:text="${stay.name}"></span>
    </div>

    <div class="detail-item">
        <strong>카테고리:</strong>
        <span th:text="${stay.category}"></span>
    </div>

    <div class="detail-item">
        <strong>숙소위치:</strong>
        <span th:text="${stay.address}"></span>
    </div>

    <div class="detail-item">
        <strong>1박가격:</strong>
        <span th:text="${stay.price}"></span>
    </div>

    <div class="detail-item">
        <strong>이용안내:</strong>
        <span th:text="${stay.useGuide}"></span>
    </div>

    <div class="detail-item">
        <strong>시설 및 서비스:</strong>
        <span th:text="${stay.service}"></span>
    </div>

    <div class="detail-item">
        <strong>예약공지:</strong>
        <span th:text="${stay.amenity}"></span>
    </div>

    <!-- Add more details as needed -->

    <!-- Image display (uncomment if needed) -->
    <!--
    <div class="detail-item">
        <strong>숙소 이미지:</strong>
        <img th:src="@{'/getImage?name=' + ${stay.imageFileName}}" alt="Stay Image"/>
    </div>
    -->

</div>

<div class="button">
    <button type="button" id="modify-btn" th:onclick="|location.href='/stays/edit/{id}'|"
            th:attr="data-stayid=${stay.id}">수정</button>
    <button type="button" id="delete-btn" th:onclick="|location.href='/stays/delete/' + ${stay.id}|"
            th:attr="data-stayid=${stay.id}">삭제</button>
</div>

<script src="/js/stay.js"></script>
</body>
</html>