<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세보기</title>
    <link th:href="@{/css/board.css}" rel="stylesheet">
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/Logo.png}" alt="Logo Image"/>
    <nav>
        <ul>
            <li class="main_list"><a href="/">여행지 소개</a></li>
            <li class="main_list"><a href="/">여행 정보</a></li>
            <li class="main_list"><a href="/boards">게시판</a></li>
            <li class="main_list"><a href="/">로그인</a></li>
            <li class="main_list"><a href="/">회원가입</a></li>
        </ul>
    </nav><hr>
</header>
<div class="search-container">
    <ul>
        <li class="sub_list"><a href="/boards">전체</a></li>
        <li class="sub_list"><a href="/">자유게시판</a></li>
        <li class="sub_list"><a href="/">여행후기게시판</a></li>
        <li class="sub_list"><a href="/">여행동행모집</a></li>
        <li class="sub_list"><a href="/">기타</a></li>
    </ul>
</div>
        <div>
                <input type="hidden" id="board-id" th:value="${board.id}">
                <div className="detail">
                    <h1 th:text="${board.title}"></h1>
                    <p th:text="${board.content}"></p>
                    <p th:text="${board.mem_id}"></p>
                    <p th:text="${board.createdAt}"></p>
                    <p th:text="${board.board_category}"></p>
                    <!-- Displaying the link -->
                   <!-- <a th:href="${board.fileList[0].file_url}" target="_blank">첨부된 파일 링크</a>
                    &lt;!&ndash; Displaying the image &ndash;&gt;
                    <img th:src="${board.fileList[0].file_url}" alt="첨부된 이미지">-->
                </div>
            <div>
                <button type="button" id="modify-btn"
                        th:onclick="|location.href='@{/new-board?id={boardId}(boardId=${board.id})}'|">수정</button>
                <button type="button" id="delete-btn">삭제</button>
            </div>
    </div>

<script src="/js/board.js"></script>
</body>
</html>