<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link th:href="@{/css/board.css}" rel="stylesheet">
</head>
<body>
<header>
    <img class="logo" th:src="@{/images/Logo.png}" alt="Logo Image"/>
    <nav>
        <ul>
            <li class="main_list"><input type="text"><button>검색</button></li>
            <li class="main_list"><a href="/">여행지 소개</a></li>
            <li class="main_list"><a href="/">여행 정보</a></li>
            <li class="main_list"><a href="/boards">게시판</a></li>
            <li class="main_list"><a href="/">로그인</a></li>
            <li class="main_list"><a href="/">회원가입</a></li>
        </ul>
    </nav><hr>
</header>
<div class="total_container">
<div class="search-container">
    <ul>
        <li class="sub_list"><a className="main" href="/boards">전체</a></li>
        <li class="sub_list"><a className="main" href="/">자유게시판</a></li>
        <li class="sub_list"><a className="main" href="/">여행후기게시판</a></li>
        <li class="sub_list"><a className="main" href="/">여행동행모집</a></li>
        <li class="sub_list"><a className="main" href="/">기타</a></li>
    </ul>
   </div>
<div class="search-container">
    <input type="text" classname="search" placeholder="제목 검색" value="" >
    <button className="btn" type="submit"> 검색</button>
</div>

<div class="board-wrapper">
    <div class="board">
        <table className="table_board">
            <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>카테고리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td><a th:text="${board.title}" th:href="@{/boards/{id}(id=${board.id})}"></a></td>
                <td th:text="${board.mem_id}"></td>
                <td th:text="${board.board_category}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="button">
    <button type="button" id="create-btn" th:onclick="|location.href='@{/new-board}'|">글 등록</button>
</div>

</div>
<script src="/js/board.js"></script>
</body>
</html>