<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 등록</title>
    <link th:href="@{/css/board.css}" rel="stylesheet">
    </head>
<body>
<header>
    <img class="logo" th:src="@{/images/Logo.png}" alt="Logo Image"/>
    <nav>
        <ul>
            <li class="main_list"><input type="text"><button>검색</button></li>
            <li class="main_list"><a href="/">여행지 소개</a></li>
            <li class="main_list"><a href="/">여행 정보</a></li>
            <li class="main_list"><a href="/boards">게시판</a></li>
            <li class="main_list"><a href="/">로그인</a></li>
            <li class="main_list"><a href="/">회원가입</a></li>
        </ul>
    </nav><hr>
</header>
<h2>Add Post</h2>
        <div>
<!--       <form id="boardForm" enctype="multipart/form-data">-->
            <input type="hidden" id="board-id" th:value="${board.id}">
            <label for="board_category">카테고리:</label>
            <select class="form-control" id="board_category" th:value="${board.board_category}">
                <option value="" disabled selected>카테고리</option>
                <option value="자유게시판">자유게시판</option>
                <option value="여행후기게시판">여행후기</option>
                <option value="여행동행모집">여행동행모집</option>
                <option value="기타">기타</option>
            </select><br>

            <label>제목:</label>
            <input type="text" class="form-control"  id="title" th:value="${board.title}"><br>
            <label>작성자: </label>
            <input type="text" class="form-control"  id="mem_id" th:value="${board.mem_id}"><br>
            <label >내용: </label>
            <textarea rows="10" id="content" th:text="${board.content}"></textarea>

<!--&lt;!&ndash;            이미지파일&ndash;&gt;-->
<!--            <label for="file">첨부파일:</label>-->
<!--            <input type="file" id="file" name="files" multiple><br>-->
        </form>
        </div>

         <div>
                <button th:if="${board.id} != null" type="button" id="modify-btn" >수정</button>
                <button th:if="${board.id} == null" type="button" id="create-btn" >등록</button>
        </div>

<script src="/js/board.js"></script>
</body>