@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

header {
    width: 100%;
    top: 0;
}
.logo {
    width: 120px;
    height: 120px;
    margin-left: 30px;
}
h1 {
    display: inline-block;
}
nav {
    margin-top: 20px;
    display: inline-block;
    float: right;
}

.main_list {
    font-family: 'Pretendard-Regular';
    font-weight:bold;
    float: left;
    list-style-type: none;
    padding: 25px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.sub_list {
    font-family: 'Pretendard-Regular';
    float: left;
    list-style-type: none;
    padding: 15px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}

.main {
    text-decoration: none;
    color: black;
}

.content {
    margin-left: 220px;
    padding: 20px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    width: 18%; /* Adjust the width as needed */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    font-weight:bold;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #161616;
    padding:10px;
    margin:5px;

}